.account__info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-family: sans-serif;
    //font-size: 1.25em;
    //font-weight: 700;
    //color: white;
    //background-color: black;
    display: inline-block;
}

//.inputfile:focus + label,
//.inputfile + label:hover {
//    background-color: red;
//}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}