@import "../variables";

.client-item {
    padding: 20px 45px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    align-items: center;
    background: $purpleDark;
    border-radius: 25px;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    &__img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 30px;
    }

    &__info {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
            //@include media-breakpoint-down(sm){
            //    margin-top: 20px;
            //}
        }
    }

    &__name {
        font-size: 22px;
    }

    &__time {
        font-size: 14px;
    }

    &__label {
        font-size: 16px;
    }

    &__val {
        font-size: 22px;
        color: $success;
        font-weight: bold;
        font-family: 'Rubik', sans-serif;

        &.danger {
            color: $danger;
        }
    }
}

/*.client-item__info:first-of-type{*/
/*    min-width: 280px;*/
/*}*/
@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 539px) {
    .client-item__info:last-child {
        margin-top: 20px;
    }
}

@media screen and (max-width: 409px) {

}