@import "public/styles/assets/variables";

.bd-header {
    margin-bottom: 50px;

    &__links {
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
            display: inline;
            margin-right: 35px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: white;
                text-decoration: none;
                transition: opacity .1s;
                opacity: .8;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
.db-form-search{
    margin: 0 auto 0 35px;
    @media screen and (max-width: 539px) {
        margin: 0 0 20px 0;
    }
}
.db-search-panel {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border-radius: 5px;
    background: $purpleDark;
    color: $purpleLighter;

    &__input {
        margin-left: 10px;
        background: transparent;
        border: none;
        color: white;
        @media screen and (max-width: 539px) {
            width: 100%;
        }
        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $purpleLighter;
        }
    }
}