@import "../variables";

.db-nav {
    border-right: 2px solid $purpleLight;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    //@media screen and (max-width: 539px) {
    //    position: absolute;
    //    height: 50px;
    //    top: auto;
    //    left: 0;
    //}
    @media screen and (max-width: 539px) {
        border: 0;
        bottom: 0;
        top: auto;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        background: $primaryDark;
        z-index: 5;
    }

    &__logo {
        border-bottom: 2px solid $purpleLight;
        padding: 45px;
        text-align: center;

        .navbar-brand {
            font-size: 22px;
            padding: 0;
        }
    }

    &__list {
        margin: 0;
        list-style: none;
        padding: 20px 0;
        text-align: center;
        @media screen and (max-width: 539px) {
            padding: 0;
            display: flex;
            justify-content: center;
        }

        &-item {
            padding: 20px 45px;
            @media screen and (max-width: 539px) {
                padding: 10px 20px;
            }

            a {
                color: $purpleLighter;
                transition: color .1s;
                text-decoration: none;
                font-size: 30px;

                &:hover {
                    color: white;
                }

                &.active {
                    color: white;
                }
            }
        }
    }

    &__logout {
        padding-bottom: 40px;
        position: absolute;
        bottom: 0;
        left: 0;

        @media screen and (max-width: 539px) {
            padding-bottom: 10px;
            position: relative;
            bottom: auto;
            left: auto;
        }

    }
}

.clr-i-badge {
    fill: $danger;
}

