.main-page {
    &__title {
        font-size: 48px;
        margin-bottom: 18px;
        font-weight: bold;

        span {
            color: $primaryLight;
            transition: color .5s;
        }

        &:hover span {
            color: $secondaryLight;
        }
    }

    &__subtitle {
        margin-bottom: 26px;
    }
    &__content {
        background: url("../../../images/bg.png") bottom right no-repeat;
        padding: 150px 0 300px;
    }
    &__btn-group .btn-secondary {
        margin-right: 16px;
    }
}
@media screen and (max-width: 1199px) {
    .main-page__content {
        background: none;
        padding: 150px 0 0;
    }

    .main-page__title, .main-page__subtitle {
        text-align: center;
    }

    .main-page__btn-group {
        text-align: center;
    }
}

@media screen and (max-width: 539px) {
    .main-page__content {
        background: none;
        padding: 60px 0 0;
    }
}

@media screen and (max-width: 409px) {
    .main-page__btn-group {
        display: flex;
        flex-direction: column;
    }

    .main-page__btn-group .btn-secondary {
        margin-right: 0;
        margin-bottom: 20px;
    }
}