html, body {
  /*height: 100vh;*/
  font-family: "Comfortaa", sans-serif;
  /*background: linear-gradient(139.92deg, #230036 28.83%, #381869 57.7%, #3C0FAA 87.26%);*/
  background: #230036;
  color: white;
  font-size: 18px;
  position: relative; }

.db-body main {
  padding: 40px 0; }

@media screen and (max-width: 539px) {
  .db-body main {
    padding: 40px 0 75px; } }

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  color: white;
  opacity: 1;
  display: block;
  background: url("https://api.iconify.design/ant-design:calendar-outlined.svg?color=%23ffffff") no-repeat center center/contain;
  width: 20px;
  height: 20px;
  border-width: thin; }

.pagination .page-item .page-link {
  color: #b06fd2;
  background: transparent;
  border: 1px solid #673c7e; }
  .pagination .page-item .page-link:focus {
    outline: none;
    box-shadow: none; }

.pagination .page-item.active .page-link {
  color: white;
  background: #673c7e;
  box-shadow: 0 0 0 0.2rem rgba(103, 60, 126, 0.2); }

.form-select {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: .25rem;
  outline: none;
  background: transparent;
  color: #b06fd2;
  border: 1px solid #b06fd2; }
  .form-select option {
    background-color: #230036; }

.custom-select {
  background: transparent;
  color: #b06fd2;
  border: 1px solid #b06fd2; }
  .custom-select option {
    background-color: #230036; }
  .custom-select:focus {
    outline: none;
    border-color: #b06fd2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(176, 111, 210, 0.5); }

.btn {
  padding: 8px 40px;
  border: none;
  border-radius: 60px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  outline: none; }
  .btn:focus {
    outline: none;
    box-shadow: none; }
  .btn:active {
    outline: none;
    box-shadow: none !important; }

.btn-primary {
  background: #9E038A;
  border: 2px solid #9E038A; }
  .btn-primary:hover {
    background: #0B639E;
    border: 2px solid #0B639E; }

.btn-secondary {
  border: 2px solid white;
  opacity: .7;
  transition: opacity .1s; }
  .btn-secondary:hover {
    background: transparent;
    border: 2px solid white;
    opacity: 1; }
  .btn-secondary:active {
    background: transparent !important;
    border: 2px solid white !important; }

.btn-outline-primary {
  color: #b06fd2;
  font-size: 18px;
  text-transform: none;
  border: 1px solid #b06fd2;
  border-radius: 5px;
  padding: 5px 10px; }
  .btn-outline-primary svg {
    vertical-align: text-top; }
  .btn-outline-primary:hover {
    background: #b06fd2;
    color: white;
    border: 1px solid rgba(176, 111, 210, 0.8); }
  .btn-outline-primary:active {
    background: #b06fd2 !important;
    color: white !important;
    border: 1px solid rgba(176, 111, 210, 0.8) !important; }

.btn-login {
  font-size: 16px;
  background: #673c7e;
  opacity: .7;
  transition: opacity .1s;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  position: relative; }
  .btn-login:hover {
    opacity: 1; }
  .btn-login:active {
    background: #673c7e !important;
    border: none !important; }

.btn-filter {
  color: #b06fd2;
  background: transparent;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
  border-radius: 5px; }
  .btn-filter.active {
    color: white;
    background: #673c7e; }
  .btn-filter:hover {
    color: white; }

.btn-open-menu {
  font-size: 33px; }
  .btn-open-menu:hover .orders-item__menu {
    height: auto;
    width: auto;
    opacity: 1;
    z-index: 5;
    padding: 20px; }

.header {
  padding: 40px 0; }

.navbar {
  padding: 0; }

.nav-item {
  margin-right: 50px; }

.nav-item.active .nav-link {
  color: #E802FE; }

.nav-item:last-child {
  margin-right: 0; }

.nav-link {
  display: inline-block;
  font-size: 16px;
  color: white;
  padding-bottom: 5px !important;
  position: relative; }

.nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 0;
  right: 0;
  /*background: white;*/
  transition: all .3s; }

.nav-link:hover {
  color: white; }

.nav-link:hover:before {
  left: 0;
  width: 100%;
  background: white; }

.navbar-toggler:focus {
  outline: none; }

.navbar-toggler-icon .iconify {
  color: white;
  font-size: 36px;
  opacity: .8;
  transition: opacity .1s; }

.navbar-toggler-icon:hover .iconify {
  opacity: 1; }

.navbar-brand {
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Comfortaa', sans-serif;
  margin-right: 0; }

.navbar-brand:hover {
  color: white; }

.navbar-brand span {
  color: #E802FE;
  transition: color .5s; }

.navbar-brand:hover span {
  color: #0187D6; }

.main-page__title {
  font-size: 48px;
  margin-bottom: 18px;
  font-weight: bold; }
  .main-page__title span {
    color: #E802FE;
    transition: color .5s; }
  .main-page__title:hover span {
    color: #0187D6; }

.main-page__subtitle {
  margin-bottom: 26px; }

.main-page__content {
  background: url("../../../images/bg.png") bottom right no-repeat;
  padding: 150px 0 300px; }

.main-page__btn-group .btn-secondary {
  margin-right: 16px; }

@media screen and (max-width: 1199px) {
  .main-page__content {
    background: none;
    padding: 150px 0 0; }
  .main-page__title, .main-page__subtitle {
    text-align: center; }
  .main-page__btn-group {
    text-align: center; } }

@media screen and (max-width: 539px) {
  .main-page__content {
    background: none;
    padding: 60px 0 0; } }

@media screen and (max-width: 409px) {
  .main-page__btn-group {
    display: flex;
    flex-direction: column; }
  .main-page__btn-group .btn-secondary {
    margin-right: 0;
    margin-bottom: 20px; } }

.privacy-policy {
  background: rgba(0, 0, 0, 0.4);
  padding: 50px;
  font-family: sans-serif;
  font-size: 16px; }
  .privacy-policy h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px; }
  .privacy-policy h2 {
    font-size: 24px; }
  .privacy-policy h3 {
    font-size: 20px; }
  .privacy-policy li {
    margin-bottom: 20px; }

.orders__header {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 539px) {
    .orders__header {
      flex-direction: column; } }
  .orders__header-btn-group {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 539px) {
      .orders__header-btn-group {
        margin-bottom: 16px;
        justify-content: space-between;
        width: 100%; } }
    .orders__header-btn-group .btn {
      margin: 0 13px; }
      @media screen and (max-width: 539px) {
        .orders__header-btn-group .btn {
          margin: 0; } }
      .orders__header-btn-group .btn:first-child {
        margin-left: 0; }
      .orders__header-btn-group .btn:last-child {
        margin-right: 0; }

.orders-item {
  display: block;
  color: white;
  background: rgba(57, 23, 75, 0.8);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px; }
  .orders-item .orders-item__logo {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 539px) {
      .orders-item .orders-item__logo {
        justify-content: center; } }
  .orders-item .orders-item__wrap {
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 539px) {
      .orders-item .orders-item__wrap {
        text-align: center; } }
  .orders-item:last-child {
    margin-bottom: 0; }
  .orders-item.btn-secondary {
    text-align: right;
    padding: 8px 30px;
    text-transform: none;
    background: #04B894; }
  .orders-item .icon-logo {
    font-size: 33px;
    margin-right: 10px; }
  .orders-item .icon-dots {
    display: block;
    margin: 0 0 0 auto; }
  .orders-item__price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right; }
    @media screen and (max-width: 539px) {
      .orders-item__price {
        justify-content: space-evenly; } }
    .orders-item__price-buy, .orders-item__price-sell {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      color: #04B894;
      font-size: 20px; }
    .orders-item__price-sell {
      color: #F58A4E; }
  .orders-item__buy, .orders-item__sell {
    background: #04B894;
    min-width: 56px;
    margin: 0 auto;
    width: 56px;
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px; }
  .orders-item__sell {
    background: #F58A4E; }
  .orders-item__menu {
    display: block;
    text-transform: none;
    position: absolute;
    right: 5%;
    bottom: -86px;
    border-radius: 5px;
    background: #39174b;
    box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.25);
    height: 0;
    opacity: 0;
    width: 0;
    z-index: -5;
    padding: 0; }
    .orders-item__menu a {
      text-align: left;
      color: white;
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .orders-item__menu a:last-child {
        margin-bottom: 0; }
      .orders-item__menu a svg {
        font-size: 18px;
        margin-right: 10px; }
      .orders-item__menu a:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8); }

.errors ul, .alert-info ul {
  margin-bottom: 0; }

.errors {
  color: #842029;
  background-color: #f8d7da;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #f5c2c7;
  border-radius: .25rem; }

.login-content {
  padding: 50px;
  /*background: rgba(0, 0, 0, .4);*/
  font-size: 16px;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 539px) {
    .login-content {
      padding: 15px; } }
  .login-content h1 {
    text-align: center;
    font-size: 32px; }
  .login-content p {
    text-align: center;
    font-size: 18px; }

/*.login-content:hover:after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    background: rgba(255,255,255,.5);*/
/*    z-index: 0;*/
/*    border-radius: 9999px;*/
/*}*/
.form-control {
  color: white;
  border: none;
  background: transparent;
  border-bottom: 2px solid #673c7e; }
  .form-control:focus {
    color: white;
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #673c7e; }
  .form-control::placeholder {
    font-size: 16px;
    color: #673c7e; }

.login-content__checkbox {
  display: flex;
  align-items: center; }
  .login-content__checkbox label {
    margin-bottom: 0; }

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }
  .custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none; }
    .custom-checkbox + label::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: none;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background: #673c7e;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%; }
  .custom-checkbox:checked + label::before {
    background: transparent;
    border: none;
    /*fill='%23673C7E' == fill='#673C7E' */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 4 9 9'%3e%3cpath fill='%23673C7E' d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3e%3c/svg%3e"); }

.login-content__footer {
  text-align: center; }
  .login-content__footer a {
    font-weight: bold;
    color: #673c7e;
    opacity: .9;
    transition: opacity .1s;
    text-decoration: none; }
    .login-content__footer a:hover {
      color: #673c7e;
      opacity: 1; }

.db-nav {
  border-right: 2px solid #673c7e;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0; }
  @media screen and (max-width: 539px) {
    .db-nav {
      border: 0;
      bottom: 0;
      top: auto;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 100%;
      background: #230036;
      z-index: 5; } }
  .db-nav__logo {
    border-bottom: 2px solid #673c7e;
    padding: 45px;
    text-align: center; }
    .db-nav__logo .navbar-brand {
      font-size: 22px;
      padding: 0; }
  .db-nav__list {
    margin: 0;
    list-style: none;
    padding: 20px 0;
    text-align: center; }
    @media screen and (max-width: 539px) {
      .db-nav__list {
        padding: 0;
        display: flex;
        justify-content: center; } }
    .db-nav__list-item {
      padding: 20px 45px; }
      @media screen and (max-width: 539px) {
        .db-nav__list-item {
          padding: 10px 20px; } }
      .db-nav__list-item a {
        color: #b06fd2;
        transition: color .1s;
        text-decoration: none;
        font-size: 30px; }
        .db-nav__list-item a:hover {
          color: white; }
        .db-nav__list-item a.active {
          color: white; }
  .db-nav__logout {
    padding-bottom: 40px;
    position: absolute;
    bottom: 0;
    left: 0; }
    @media screen and (max-width: 539px) {
      .db-nav__logout {
        padding-bottom: 10px;
        position: relative;
        bottom: auto;
        left: auto; } }

.clr-i-badge {
  fill: #F54E79; }

.bd-header {
  margin-bottom: 50px; }
  .bd-header__links {
    list-style: none;
    padding: 0;
    margin: 0; }
    .bd-header__links-item {
      display: inline;
      margin-right: 35px; }
      .bd-header__links-item:last-child {
        margin-right: 0; }
      .bd-header__links-item a {
        color: white;
        text-decoration: none;
        transition: opacity .1s;
        opacity: .8; }
        .bd-header__links-item a:hover {
          opacity: 1; }

.db-form-search {
  margin: 0 auto 0 35px; }
  @media screen and (max-width: 539px) {
    .db-form-search {
      margin: 0 0 20px 0; } }

.db-search-panel {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 5px;
  background: #39174B;
  color: #b06fd2; }
  .db-search-panel__input {
    margin-left: 10px;
    background: transparent;
    border: none;
    color: white; }
    @media screen and (max-width: 539px) {
      .db-search-panel__input {
        width: 100%; } }
    .db-search-panel__input:focus {
      outline: none; }
    .db-search-panel__input::placeholder {
      color: #b06fd2; }

.client-item {
  padding: 20px 45px;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  align-items: center;
  background: #39174B;
  border-radius: 25px;
  margin-bottom: 30px; }
  .client-item:last-child {
    margin-bottom: 0; }
  .client-item__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 30px; }
  .client-item__info {
    margin-right: 30px; }
    .client-item__info:last-child {
      margin-right: 0; }
  .client-item__name {
    font-size: 22px; }
  .client-item__time {
    font-size: 14px; }
  .client-item__label {
    font-size: 16px; }
  .client-item__val {
    font-size: 22px;
    color: #04B894;
    font-weight: bold;
    font-family: 'Rubik', sans-serif; }
    .client-item__val.danger {
      color: #F54E79; }

/*.client-item__info:first-of-type{*/
/*    min-width: 280px;*/
/*}*/
@media screen and (max-width: 539px) {
  .client-item__info:last-child {
    margin-top: 20px; } }

.account__info {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  font-family: sans-serif;
  display: inline-block; }

.inputfile + label {
  cursor: pointer;
  /* "hand" cursor */ }
