.errors ul, .alert-info ul {
    margin-bottom: 0;
}

.errors {
    color: #842029;
    background-color: #f8d7da;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #f5c2c7;
    border-radius: .25rem;
}

.login-content {
    padding: 50px;
    /*background: rgba(0, 0, 0, .4);*/
    font-size: 16px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 539px) {
        padding: 15px;
    }

    h1 {
        text-align: center;
        font-size: 32px;
    }

    p {
        text-align: center;
        font-size: 18px;
    }
}

/*.login-content:hover:after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    background: rgba(255,255,255,.5);*/
/*    z-index: 0;*/
/*    border-radius: 9999px;*/
/*}*/


.form-control {
    color: white;
    border: none;
    background: transparent;
    border-bottom: 2px solid $purpleLight;

    &:focus {
        color: white;
        background: transparent;
        box-shadow: none;
        border-bottom: 2px solid $purpleLight;
    }

    &::placeholder {
        font-size: 16px;
        color: $purpleLight;
    }
}

.login-content__checkbox {
    display: flex;
    align-items: center;

    label {
        margin-bottom: 0;
    }
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
        display: inline-flex;
        align-items: center;
        user-select: none;

        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            flex-grow: 0;
            border: none;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background: $purpleLight;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
    }

    &:checked + label::before {
        background: transparent;
        border: none;
        /*fill='%23673C7E' == fill='#673C7E' */
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 4 9 9'%3e%3cpath fill='%23673C7E' d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3e%3c/svg%3e");
    }
}


.login-content__footer {
    text-align: center;

    a {
        font-weight: bold;
        color: $purpleLight;
        opacity: .9;
        transition: opacity .1s;
        text-decoration: none;

        &:hover {
            color: $purpleLight;
            opacity: 1;
        }
    }
}


