@import "variables";

html, body {
    /*height: 100vh;*/
    font-family: $base-font;
    /*background: linear-gradient(139.92deg, #230036 28.83%, #381869 57.7%, #3C0FAA 87.26%);*/
    background: $primaryDark;
    color: white;
    font-size: 18px;
    position: relative;
}

.db-body main {
    padding: 40px 0;
}

@media screen and (max-width: 539px) {
    .db-body main {
        padding: 40px 0 75px;
    }
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: white;
    opacity: 1;
    display: block;
    background: url('https://api.iconify.design/ant-design:calendar-outlined.svg?color=%23ffffff') no-repeat center center / contain;
    width: 20px;
    height: 20px;
    border-width: thin;
}

.pagination {
    .page-item {
        .page-link {
            color: $purpleLighter;
            background: transparent;
            border: 1px solid $purpleLight;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        &.active {
            .page-link {
                color: white;
                background: $purpleLight;
                box-shadow: 0 0 0 0.2rem rgba($purpleLight,.2);
            }
        }
    }
}
.form-select{
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: .25rem;
    outline: none;
    background: transparent;
    color: $purpleLighter;
    border: 1px solid $purpleLighter;
    option{
        background-color: $primaryDark;
    }
}
.custom-select{

    background: transparent;
    color: $purpleLighter;
    border: 1px solid $purpleLighter;
    option{
        background-color: $primaryDark;
    }
    &:focus{
        outline: none;
        border-color: $purpleLighter;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($purpleLighter,.5);
    }
}
