@import "variables";

.btn {
    padding: 8px 40px;
    border: none;
    border-radius: 60px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    outline: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active {
        outline: none;
        box-shadow: none !important;
    }
}


.btn-primary {
    background: $primary;
    border: 2px solid $primary;

    &:hover {
        background: $secondary;
        border: 2px solid $secondary;
    }
}

.btn-secondary {
    border: 2px solid white;
    opacity: .7;
    transition: opacity .1s;

    &:hover {
        background: transparent;
        border: 2px solid white;
        opacity: 1;
    }

    &:active {
        background: transparent !important;
        border: 2px solid white !important;
    }
}

.btn-outline-primary {
    color: $purpleLighter;
    font-size: 18px;
    text-transform: none;
    border: 1px solid $purpleLighter;
    border-radius: 5px;
    padding: 5px 10px;

    svg {
        vertical-align: text-top;
    }

    &:hover {
        background: $purpleLighter;
        color: white;
        border: 1px solid rgba($purpleLighter, .8);
    }

    &:active {
        background: $purpleLighter !important;
        color: white !important;
        border: 1px solid rgba($purpleLighter, .8) !important;
    }
}

.btn-login {
    font-size: 16px;
    background: $purpleLight;
    opacity: .7;
    transition: opacity .1s;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    position: relative;

    &:hover {
        opacity: 1;
    }

    &:active {
        background: $purpleLight !important;
        border: none !important;
    }
}

.btn-filter {
    color: $purpleLighter;
    background: transparent;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    border-radius: 5px;

    &.active {
        color: white;
        background: $purpleLight;
    }

    &:hover {
        color: white;
    }
}


.btn-open-menu {
    font-size: 33px;

    &:hover {
        .orders-item__menu {
            height: auto;
            width: auto;
            opacity: 1;
            z-index: 5;
            padding: 20px;
        }
    }
}