@import "variables";

.header {
    padding: 40px 0;
}

.navbar {
    padding: 0;
}

.nav-item {
    margin-right: 50px;
}

.nav-item.active .nav-link {
    color: $primaryLight;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    display: inline-block;
    font-size: 16px;
    color: white;
    padding-bottom: 5px !important;
    position: relative;
}

.nav-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0;
    right: 0;
    /*background: white;*/
    transition: all .3s;
}

.nav-link:hover {
    color: white;
}

.nav-link:hover:before {
    left: 0;
    width: 100%;
    background: white;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon .iconify {
    color: white;
    font-size: 36px;
    opacity: .8;
    transition: opacity .1s;
}

.navbar-toggler-icon:hover .iconify {
    opacity: 1;
}

.navbar-brand {
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
    margin-right: 0;
}

.navbar-brand:hover {
    color: white;
}

.navbar-brand span {
    color: $primaryLight;
    transition: color .5s;
}

.navbar-brand:hover span {
    color: $secondaryLight;
}

