$primary: #9E038A;
$primaryLight: #E802FE;
$primaryDark: #230036;
$secondaryLight: #0187D6;
$secondary: #0B639E;
$purpleLight: #673c7e;
$purple: #622484;
$purpleLighter: #b06fd2;
$purpleDark: #39174B;
$danger: #F54E79;
$success: #04B894;
$warning: #F58A4E;
$base-font: 'Comfortaa', sans-serif;
$sub-font: 'Rubik', sans-serif;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);
// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $max: map-get($breakpoints, $name);
    @return if($max and $max > 0, $max - .02, null);
}
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}