.privacy-policy {
    background: rgba(0, 0, 0, .4);
    padding: 50px;
    font-family: sans-serif;
    font-size: 16px;

    h1 {
        text-align: center;
        margin-bottom: 25px;
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    li {
        margin-bottom: 20px;
    }
}

.navbar-brand {

}