@import "public/styles/assets/variables";

.orders__header {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 539px) {
        flex-direction: column;
    }

    &-btn-group {
        display: flex;
        align-items: center;
        @media screen and (max-width: 539px) {
            margin-bottom: 16px;
            justify-content: space-between;
            width: 100%;
        }

        .btn {
            margin: 0 13px;
            @media screen and (max-width: 539px) {
                margin: 0;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.orders-item {
    display: block;
    color: white;
    background: rgba(57, 23, 75, .8);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
.orders-item__logo{
    display: flex;
    align-items: center;
    @media screen and (max-width: 539px) {
        justify-content: center;
    }
}
    .orders-item__wrap {
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 539px) {
            text-align: center;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    //&:hover {
    //    text-decoration: none;
    //    color: white;
    //    background: $purpleLight;
    //}

    &.btn-secondary {
        text-align: right;
        padding: 8px 30px;
        text-transform: none;
        background: #04B894;
    }

    & .icon-logo {
        font-size: 33px;
        margin-right: 10px;
    }

    & .icon-dots {
        display: block;
        margin: 0 0 0 auto;
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        @media screen and (max-width: 539px) {
            justify-content: space-evenly;
        }

        &-buy, &-sell {
            font-family: $sub-font;
            font-weight: 500;
            color: $success;
            font-size: 20px;
        }

        &-sell {
            color: $warning;
        }
    }

    &__buy, &__sell {
        background: $success;
        min-width: 56px;
        margin: 0 auto;
        width: 56px;
        text-align: center;
        padding: 5px 8px;
        border-radius: 5px;
    }

    &__sell {
        background: $warning;
    }

    &__menu {
        display: block;
        text-transform: none;
        position: absolute;
        right: 5%;
        bottom: -86px;
        border-radius: 5px;
        background: rgba(57, 23, 75, 1);
        //box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.25);
        height: 0;
        opacity: 0;
        width: 0;
        z-index: -5;
        padding: 0;

        a {
            text-align: left;
            color: white;
            font-size: 16px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            svg {
                font-size: 18px;
                margin-right: 10px;
            }

            &:hover {
                text-decoration: none;
                color: rgba(white, .8);
            }
        }
    }
}
